Button {
    text-transform: capitalize !important;
    align-self: center;
    background-color: #fd7c2b !important;
    color: black !important;
    font-size: 1.4rem !important;
    font-weight: bold !important;
    box-shadow: 0.4rem 0.6rem 1.3rem -0.6rem rgba(0,0,0,0.75) !important;
    transition: all 300ms ease-out !important ;
    padding: 0.5rem 2.0rem !important;
    font-family: "TypoFormal",'Barlow Condensed', sans-serif !important;
    /* cursor: pointer !important; */
  }
  Button:hover {
    background-color: #FDC377 !important;
    box-shadow: 0rem 0rem 0rem 0rem !important ;
    
  }
  .outlined {
    background: none !important;
    color: #fdc377 !important ;
    border: 0.1rem solid #fdc377 !important;
    transition: all 300ms ease-out;
    padding: 0.3rem 1.0rem !important;
  }
  .outlined:hover {
      color: black !important;
    background-color: #fd7c2b !important ;
    border: 0.1rem #fd7c2b solid !important;
  }