.cookies_container{
    color: white !important;
    position: absolute;
    /* backdrop-filter: blur(4px) saturate(146%); */
    /* background-color: aqua; */
    backdrop-filter: blur(0.7rem) saturate(146%);
    -webkit-backdrop-filter: blur(0.7rem) saturate(146%);
    top: 0vh;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    z-index: 1;
}
.cookies{
    position: relative;
    top: 42vh;
    height: 15rem;
    backdrop-filter: blur(2.5rem) saturate(146%);
    -webkit-backdrop-filter: blur(2.5rem) saturate(146%);
    background-color: rgba(253, 195, 119, 0.13);
    border-radius: 1rem;
    /* border: 0.1rem solid rgba(255, 255, 255, 0.125); */
    padding: 0.8rem 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.cookies h3{
    text-shadow: 0.4rem 0.4rem 0.2rem #000;
    font-weight: 500;
    font-size: 3.2rem;
}
.cookies h4{
    /* line-height: 1px; */
    font-weight: 200;
    font-size: 1.6rem;
    /* color: black; */
    text-shadow: 0.5rem 0rem 0.2rem #000;
    
}