.form_container{
    color: white !important;
    position: absolute;
    backdrop-filter: blur(0.7rem) saturate(146%);
    -webkit-backdrop-filter: blur(0.7rem) saturate(146%);
    top: 0vh;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    z-index: 1;
    overflow: hidden !important;
}
.form{
    position: relative;
    top: 32vh;
    left: -18vw;
    height: 23rem;
    
    backdrop-filter: blur(2.5rem) saturate(146%);
    -webkit-backdrop-filter: blur(2.5rem) saturate(146%);
    background-color: rgba(253, 195, 119, 0.13);
    border-radius: 1rem;
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    padding: 0.8rem 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form h3{
    text-shadow: 0.4rem 0.4rem 0.2rem #000;
    font-weight: 500;
    font-size: 2rem;
}
.form h4{
    font-weight: 200;
    text-shadow: 0.5rem 0rem 0.2rem #000;
    
}