@font-face {
  font-family: "TypoFormal";
  src: url("../assets/fonts/TypoFormal.otf");
}
@font-face {
  font-family: "Marva2";
  src: url("../assets/fonts/Marav2.ttf");
}
@font-face {
  font-family: "Delmon";
  src: url("../assets/fonts/Delmon.ttf");
}
@font-face {
  font-family: "Sketsa";
  src: url("../assets/fonts/Sketsa.otf");
}

* {
  font-family: "TypoFormal",'Barlow Condensed', sans-serif;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.homepage_parent {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to top,
      rgb(3, 3, 3),
      rgba(255, 255, 255, 0)
    ),
    url("../assets/images/closed_chest_box.jpg");
  display: grid;
  grid-template-columns: repeat(1fr 2);
  gap: 1rem;
}
.homepage_child1 {
  display: none !important;
}
.homepage {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-self: end;
}
.homepage_title {
  font-family: "Sketsa",'Dancing Script', cursive;
  font-weight: 100;
  letter-spacing: 3px;
  color: #fd7c2b;
  font-size: 6rem;
  text-align: center;
  line-height: 2rem;
}

.homepage h3 {
  color: #fd7c2b !important;
  font-size: 1.5rem;
}
.homepage h4 {
  color: white;
  text-align: center;
  font-weight: 500;
}
input,
textarea {
  border: none;
  font-family:'Barlow Condensed', sans-serif !important;
  border-bottom: 3px solid #fd7c2b !important;
  background: none;
  width: 65%;
  color: #fd7c2b;
  font-size: 1rem;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}
.Toastify__close-button:hover{
  background-color: none !important;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}