@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.wrong_entry h1{
    color: #FD7C2B !important;
    font-family: "Sketsa",'Dancing Script', cursive !important;
    font-weight: 100;
    font-size: 16rem;
    align-self: flex-end;
    text-shadow: 0.6rem 0.6rem 0.2rem #000;
}
.wrong_entry h2{
    color: #FD7C2B !important;
    font-size: 8rem;
    font-weight: 400;
    text-shadow: 0.4rem 0.4rem 0.2rem #000;
    text-align: center !important;
    align-self: center;
    line-height: 9rem !important;
}
.wrong_entry  Button{
    justify-self: flex-start;
    width: 100% !important;

}